:root {
    --main-black: #272727;
    --black: #000000;
    --white: #ffffff;
    --light-grey: #fAfAfA;
    --blue: #00ABE7;
    --luckiest-guy: 'Luckiest Guy';
    --bitter: 'Bitter';
    --baloo-2: 'Baloo 2';
    --transparent-white: rgba(255, 255, 255, .4)
}

*,
::before,
::after,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    line-height: 1.5;
}

*,
::before,
::after,
.footer-text,
.arrivals-text p,
.clothing-card-text p {
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: var(--bitter);
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
}

header {
    top: 0;
}

header a:not(.active):not(.search-toggle):hover,
.footer-links:hover,
.top-nav-link-active {
    color: #fe4066;
}

a {
    text-decoration: none;
}

a {
    color: var(--black);
}

p {
    padding-top: .5rem;
}

img {
    -o-object-fit: cover;
    -o-object-position: center;
    object-fit: cover;
    object-position: center;
}

img,
.slideshow-content {
    max-width: 100%;
}

input,
button,
textarea,
select {
    border: none;
    outline: none;
    font-family: var(--baloo-2);
    font-size: 1.1rem;
    font-weight: 100;
}

button,
summary {
    cursor: pointer;
}

textarea {
    resize: vertical;
}

select {
    -webkit-padding-end: 20px;
    -moz-padding-end: 20px;
    -webkit-padding-start: 2px;
    -moz-padding-start: 2px;
    border: 1px solid #aaaaaa;
}

.footer-container,
.nav-content,
.copyright {
    padding: 2rem 1rem;
}

.logo {
    width: 100px;
    height: auto;
}

.btn {
    padding: .7rem 1rem;
}

.input-focus:focus {
    box-shadow: 0px 0px 0px 4px rgb(138 173 229 / 15%);
}

.input-focus:focus,
.search-input,
.account-input {
    border: 1px solid rgba(138 173 229 / 50%);
}

.fr {
    top: .6vh;
    font-size: 1.5rem;
}

.header {
    font-family: var(--luckiest-guy);
    font-weight: 100;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    z-index: 1024;
}

.relative {
    position: relative;
}

.fixed {
    position: fixed;
}

.absolute,
.nav-toggle::before,
.nav-toggle::after {
    position: absolute;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.align-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.place-center {
    place-items: center;
}

.text-center {
    text-align: center;
}

.link {
    color: var(--blue);
}

.link:hover,
.arrivals-add-to-cart a:hover {
    text-decoration: underline;
}

.border-7 {
    border-radius: .7rem;
}

.border-1,
.what-you-like-grid::-webkit-scrollbar-thumb,
.what-you-like-grid::-webkit-scrollbar-track {
    border-radius: 1rem;
}

.round {
    border-radius: 50%;
}

.bg-white,
.search-input:focus,
.slide-indicator.active {
    background-color: var(--white);
    color: var(--main-black);
}

.bg-light-grey,
.what-you-like-grid::-webkit-scrollbar-track {
    background-color: var(--light-grey);
}

.transparent-white {
    background-color: var(--transparent-white);
    color: var(--main-black);
}

.bg-black {
    background-color: var(--black);
    color: var(--white);
}

.bg-black-btn-hover:hover {
    background-color: #272727;
}

.black {
    color: var(--main-black);
}

.white,
.active {
    color: var(--white);
}

.old-price {
    color: #3e4e50;
    text-decoration: line-through;
    padding-right: .5rem;
}

.sub-header {
    padding-top: .1rem;
}

.sub-header,
.paginate-control {
    font-size: 1rem;
}

.active,
.submit-btn,
.what-you-like-grid::-webkit-scrollbar-thumb,
.slide-indicator,
.nav-toggle,
.nav-toggle::before,
.nav-toggle::after {
    background-color: var(--main-black);
    color: var(--white);
}

.top-header,
.nav-togglers,
.arrivals-text {
    padding: .5rem 1rem;
}

.search-container {
    width: 90%;
    left: 6%;
    top: 6rem;
    transform: translateY(-10rem);
    z-index: 1024;
}

.show-search-container {
    transform: translateY(2.5rem);
}

.search-input {
    border-top-left-radius: .7rem;
    border-bottom-left-radius: .7rem;
    padding: .5rem 1.5rem;
}

.search-btn {
    border-top-right-radius: .7rem;
    border-bottom-right-radius: .7rem;
    padding: .3rem 1.5rem .3rem 1.3rem;
}

.search-btn .fr,
select {
    font-size: 1.2rem;
}

.top-nav-link-icon,
.slide-indicator:not(:last-child) {
    margin-right: 1rem;
}

.nav-toggle-btn {
	padding: 1rem 0;
}

.nav-toggle,
.nav-toggle::before,
.nav-toggle::after {
    width: 40px;
    height: 1px;
}

.nav-toggle,
.nav-toggle::before,
.nav-toggle::after,
.nav-link,
img,
.service-feature-icon,
.footer-links,
label,
.clothing-image {
    display: block;
}

.nav-toggle::before,
.nav-toggle::after {
    content: '';
    width: 30px;
    left: 5px;
}

.nav-toggle::before {
    top: -.8rem;
}

.nav-toggle::after {
    top: .8rem;
}

.nav-toggle-close .nav-toggle {
    background-color: transparent;
}

.nav-toggle-close .nav-toggle::before,
.nav-toggle-close .nav-toggle::after {
    top: 0;
	left: 0;
    width: 40px;
    transform: rotate(45deg);
}

.nav-toggle-close .nav-toggle::before {
    transform: rotate(-45deg);
}

.nav-content {
    width: calc(80% - 2rem);
    height: 100vh;
    top: 6.5rem;
    transform: translateX(-100%);
}

.nav-content,
.nav-toggle::before,
.nav-toggle::after,
.search-container,
.to-top {
    transition: .5s;
}

.nav-item {
    list-style-type: none;
}

.nav-item:not(:last-child),
.service-feature-icon,
.footer-links:not(:last-child),
.footer-header,
.footer-text {
    margin-bottom: 1rem;
}

.nav-link {
    padding-top: .2rem;
}

.nav-link-icon {
    margin-right: .7rem;
}

.slideshow-container {
    height: calc(100vh - 40vh);
    overflow: hidden;
}

.slideshow-content {
    min-width: 100%;
}

.slideshow-image,
.preview-cloth-image {
    height: 100%;
}

.slide-indicator-container {
    left: 50%;
    transform: translate(-50%, calc(100vh - 80vh));
}

.slide-indicator {
    width: 20px;
    height: 20px;
}

.container {
    margin: 3rem 1rem 6rem 1rem;
}

.new-arrivals-grid,
.what-you-like-card,
.share-fashion-grid,
.slideshow-container,
.account-grid,
.sign-in-grid,
.sign-up-grid,
.clothing-preview-image-grid,
.review-container,
.reviews-grid,
.top-reviews {
    margin-top: 2rem;
}

.new-arrivals-grid,
.what-you-like-card,
.share-fashion-grid {
    margin-bottom: 2rem;
}

.new-arrivals-grid,
.cloth-details {
    row-gap: 2rem;
}

.arrivals-heart {
    font-size: 2rem;
    right: 1rem;
    top: .5rem;
}

.arrivals-image,
.search-input,
.what-you-like-image,
.share-fashion-image,
.footer-form-input,
.slideshow-image,
.clothing-image {
    width: 100%;
}

.arrivals-image,
.what-you-like-image,
.share-fashion-image {
    height: 350px;
}

.arrivals-add-to-cart {
    width: calc(100% - 2rem);
    bottom: calc(100% - 350px);
}

.arrivals-add-to-cart a {
    font-weight: 600;
}

.what-you-like {
    width: 90%;
    margin: 10% auto;
}

.what-you-like-grid {
    gap: .55%;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--main-black) var(--light-grey);
    -ms-overflow-style: none;
}

.what-you-like-grid::-webkit-scrollbar {
    width: 1%;
    height: 15px;
}

.what-you-like-btn,
.arrivals-add-to-cart {
    padding: 1rem;
}

.what-you-like-btn {
    top: 13rem;
    z-index: 1;
}

.what-you-like-btn.right {
    right: 1.5%;
}

.what-you-like-btn.left {
    left: 1.5%;
}

.what-you-like-card {
    min-width: 99.55%;
}

.what-you-like-card p {
    padding-left: 1rem;
}

.fashion-outfit,
.share-fashion-grid,
.service-features-grid,
.footer-container,
.clothing-grid,
.clothing-preview-image-grid,
.clothing-preview-image,
.review,
.top-reviews {
    gap: 2rem;
}

.fashion-outfit .fr {
    top: 1vh;
}

.fashion-outfit-one {
    background-image: url(../img/faq-image.png);
}

.fashion-outfit-one,
.fashion-outfit-two,
.fashion-outfit-three {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, .6);
    background-blend-mode: multiply;
}

.fashion-outfit-one,
.fashion-outfit-two {
    height: 300px;
}

.fashion-outfit-text-one,
.fashion-outfit-text-two {
    bottom: 2.5rem;
    left: 1rem;
}

.fashion-outfit-text-one p,
.fashion-outfit-text-two p {
    margin-top: 1rem;
}

.fashion-outfit-two {
    background-image: url(../img/jogging-800.jpg);
}

.fashion-outfit-text-two {
    top: 2rem;
}

.fashion-outfit-three {
    height: 200px;
    background-image: url(../img/122897147_787767158684970_9108500850034584037_n.jpg);
}

.fashion-outfit-text-three,
.slide-indicator-container {
    top: 50%;
}

.fashion-outfit-text-three,
.to-top {
    right: 1rem;
}

.fashion-outfit-three .header {
    margin-right: 2rem;
}

.service-feature-icon {
    font-size: 3rem;
}

.footer-form-input {
    border: 1px solid var(--black);
    border-right: none;
}

.copyright,
.clothing-select-filters,
.clothing-pagination-links-container {
    justify-content: space-around;
}

.copyright,
.clothing-select-filters,
.clothing-pagination-links-container,
.top-header,
.clothing-card-text,
.fashion-outfit-text-three {
    flex-wrap: wrap;
}

.to-top {
    padding: .6rem .7rem .4rem .7rem;
    bottom: 2rem;
    transform: translateX(150%);
    box-shadow: 5px 6px 20px 0 rgba(0 0 0 / 20%);
    z-index: 1024;
}

.show-to-top,
.nav-content-show {
    transform: translateX(0);
}

.account-grid {
    gap: 5rem;
}

.sign-in-grid,
.sign-up-grid,
.clothing-top,
.clothing-select-filters,
.preview-details {
    gap: 1rem;
}

.account-grid .sub-header {
    margin-top: .5rem;
}

.account-input {
    width: calc(100% - 2.1rem);
    margin: .5rem 0;
    padding: .5rem 1rem;
}

.clothing-top {
    padding-left: .7rem;
    padding-right: .7rem;
}

.clothing-top,
.clothing-select-filters {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.clothing-card-text {
    margin: .3rem 0 0 .5rem;
}

.discount-box {
    padding: .5rem 1rem;
}

.clothing-pagination {
    justify-content: flex-end;
}

.clothing-pagination-links-container {
    row-gap: 1rem;
    place-content: center;
}

.clothing-pagination-link {
    padding: .4rem .8rem;
    border-radius: .5rem;
}

.clothing-pagination-link:hover,
.clothing-pagination-link.active {
    background-color: var(--blue);
    color: var(--white);
}

.clothing-pagination-link:not(:last-child) {
    margin-right: .5rem;
}

.paginate-divider,
.clothing-pagination-link.active {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}

.paginate-control {
    top: .3vh;
}

.cloth-preview-main {
    padding-bottom: 2rem;
}

.clothing-preview-image {
    grid-template-areas: "one three"
                         "four two";
    gap: .5rem;
}

.one {
    grid-area: one;
}

.two {
    grid-area: two;
}

.three {
    grid-area: three;
}

.four {
    grid-area: four;
}

.sizes {
    border: 1px solid lightgray;
    padding: .5rem .7rem;
}

.review-content {
    column-gap: .5rem;
}