@media only screen and (min-width: 375px) {

    .container {
        margin-left: 0;
        margin-right: 0;
    }

    .new-arrivals,
    .fashion-outfit,
    .account-container,
    .clothing-main,
    .cloth-preview {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }

    .top-header,
    .nav-togglers,
    .footer-container,
    .copyright {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

}

@media only screen and (min-width: 450px) {

    .nav-content {
        width: calc(70% - 2rem);
    }

    .new-arrivals,
    .fashion-outfit,
    .account-container,
    .clothing-main,
    .cloth-preview {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .top-header,
    .nav-togglers,
    .footer-container,
    .copyright {
        padding-left: 2rem;
        padding-right: 2rem;
    }

}

@media only screen and (min-width: 500px) {

    .nav-content {
        width: calc(65% - 2rem);
    }

    .new-arrivals,
    .fashion-outfit,
    .account-container,
    .clothing-main,
    .cloth-preview {
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }

    .service-features-grid {
        margin-left: 0;
        margin-right: 0;
        -ms-grid-columns: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2rem;
    }

    .top-header,
    .nav-togglers,
    .footer-container,
    .copyright,
    .account-container {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

}

@media only screen and (min-width: 550px) {

    .nav-content {
        width: calc(60% - 2rem);
    }

    .new-arrivals,
    .fashion-outfit,
    .account-container,
    .clothing-main,
    .cloth-preview {
        margin-left: 3rem;
        margin-right: 3rem;
    }

    .top-header,
    .nav-togglers {
        padding-left: 3rem;
        padding-right: 3rem;
    }

}

@media only screen and (min-width: 600px) {

    .nav-content {
        width: calc(55% - 2rem);
    }

    .what-you-like,
    .account-header,
    .account-grid .sub-header,
    .cloth-preview {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .new-arrivals,
    .share-fashion,
    .clothing-main {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .new-arrivals-grid,
    .share-fashion-grid,
    .clothing-grid {
        -ms-grid-columns: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem 1.2rem;
    }

    .what-you-like,
    .account-header {
        width: 80%;
    }

    .coming-soon-content {
        width: 70%;
    }

}

@media only screen and (min-width: 650px) {

    .nav-content {
        width: calc(50% - 2rem);
    }

    .account-container {
        margin-left: 3.5rem;
        margin-right: 3.5rem;
    }

    .what-you-like-grid {
        gap: 2%;
    }

    .what-you-like-btn.right {
        right: 1%;
    }

    .what-you-like-btn.left {
        left: 1%;
    }

    .what-you-like-card {
        min-width: 48.2%;
    }

}

@media only screen and (min-width: 700px) {

    .nav-content {
        width: calc(45% - 2rem);
    }

    .new-arrivals-grid,
    .share-fashion-grid,
    .clothing-grid {
        gap: 1rem 1.5rem;
    }

    .new-arrivals,
    .share-fashion,
    .clothing-main {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .what-you-like {
        width: 85%;
    }

    .footer-container,
    .copyright {
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .copyright {
        justify-content: space-between;
    }

    .account-container  {
        margin-left: 4rem;
        margin-right: 4rem;
    }

    .reviews-grid {
        -ms-grid-columns: repeat(2, 6fr);
        -webkit-column-gap: 1rem;
        -o-column-gap: 1rem;
        -moz-column-gap: 1rem;
        -ms-column-gap: 1rem;
        column-gap: 1rem;
        grid-template-columns: repeat(2, 6fr);
    }

}

@media only screen and (min-width: 768px) {

    .slideshow-image {
        height: auto;
    }

    .nav-content {
        width: calc(40% - 2rem);
    }

    .share-fashion,
    .clothing-main,
    .cloth-preview {
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }

    .fashion-outfit {
        grid-template-areas: "one two"
                             "three three";
        gap: 1.5rem;
    }

    .fashion-outfit-one {
        grid-area: one;
    }

    .fashion-outfit-one,
    .fashion-outfit-two {
        height: 350px;
    }

    .fashion-outfit-two {
        grid-area: two;
    }

    .fashion-outfit-three {
        grid-area: three;
        height: 250px;
    }

    .fashion-outfit-text-three {
        top: 35%;
    }

    .account-container  {
        margin-left: 5rem;
        margin-right: 5rem;
    }

    .coming-soon-content {
        width: 80%;
    }

}

@media only screen and (min-width: 800px) {

    .nav-content {
        width: calc(35% - 2rem);
    }

    .logo {
        height: 10%;
    }

    .new-arrivals,
    .share-fashion,
    .clothing-main,
    .cloth-preview {
        margin-left: 3rem;
        margin-right: 3rem;
    }

    .footer-container {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .account-container {
        margin-left: 0;
        margin-right: 0;
    }

    .account-header {
        width: 50%;
    }

    .account-grid {
        -ms-grid-columns: repeat(2, 1fr);
            grid-template-columns: repeat(2, 1fr);
    }

}

@media only screen and (min-width: 970px) {
    
    .nav-togglers {
        display: none;
    }

    .top-header {
        margin-left: 5%;
        margin-right: 5%;
    }

    .top-header,
    .nav-content {
        padding-left: 0;
        padding-right: 0;
    }

    .search-container {
        width: calc(100% - 70%);
        margin-left: 0;
    }

    .search-container,
    .nav-content {
        position: static;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
}

    .top-nav-link-icon {
        margin-right: 3rem;
    }

    .nav-content-container {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 1rem;
        padding-bottom: 1.5rem;
    }

    .nav-content-container,
    .nav-links {
        -ms-flex-direction: row;
        flex-direction: row;
        align-items: center;
    }

    .nav-content {
        width: 100%;
        height: auto;
        background-color: transparent;
        padding-top: 0;
        padding-bottom: 0;
    }

    .nav-item:not(:last-child) {
        margin: 0;
    }

    .nav-links {
        place-content: center;
    }

    .nav-links,
    .account-grid {
        -webkit-column-gap: 2rem;
        -moz-column-gap: 2rem;
        -ms-column-gap: 2rem;
        -o-column-gap: 2rem;
            column-gap: 2rem;
    }

    .nav-link {
        display: initial;
        padding: .8rem 1rem .6rem 1rem;;
    }

    .nav-link .fr {
        top: .8vh;
    }

    .new-arrivals,
    .fashion-outfit,
    .service-features-grid,
    .subscribe-to-news-letter,
    .new-arrivals,
    .share-fashion,
    .clothing-main,
    .cloth-preview {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .new-arrivals-grid,
    .share-fashion-grid {
        gap: 2rem;
    }

    .service-features-grid {
        -ms-grid-columns: repeat(4, 1fr);
            grid-template-columns: repeat(4, 1fr);
        gap: .5rem;
    }

    .subscribe-to-news-letter,
    .account-grid .sub-header {
        width: 80%;
    }

    .subscribe-to-news-letter {
        margin-top: 2rem;
    }

    .copyright,
    .nav-content-container,
    .clothing-top,
    .clothing-select-filters {
        justify-content: space-between;
    }

    .account-grid {
        margin-top: 5rem;
    }

    .account-grid > div:first-child {
        border-right: 1px dotted #272727;
        padding-right: 2rem;
    }

    .sign-up-grid {
        grid-template-areas: "fullname username"
                             "email password"
                             "sign-up-btn sign-up-btn";
    }

    #fullname {
        grid-area: fullname;
    }

    #username {
        grid-area: username;
    }

    #email {
        grid-area: email;
    }

    #password {
        grid-area: password;
    }

    #sign-up-btn {
        grid-area: sign-up-btn;
    }

    .clothing-preview-image-grid {
        -ms-grid-columns: 10fr 6fr;
            grid-template-columns: 10fr 6fr;
    }

    .clothing-preview-image {
        grid-template-areas: "one two two"
                             "three two two"
                             "four two two";
        gap: 1rem;
    }

    .reviews-grid {
        -webkit-column-gap: 2rem;
        -o-column-gap: 2rem;
        -moz-column-gap: 2rem;
        -ms-column-gap: 2rem;
            column-gap: 2rem;
    }

}

@media only screen and (min-width: 1024px) {

    .clothing-top,
    .clothing-select-filters {
        -ms-flex-direction: row;
        flex-direction: row;
        align-items: center;
        gap: .5rem;
    }

    .what-you-like-btn.right {
        right: 2%;
    }

    .what-you-like-btn.left {
        left: 2%;
    }

    .what-you-like-card {
        min-width: 31.5%;
    }

    .coming-soon-content {
        width: 50%;
    }

}

@media only screen and (min-width: 1200px) {

    .lg-w-80 {
        width: 80%;
    }
    
    .lg-w-80,
    .account-grid {
        margin-left: auto;
        margin-right: auto;
    }

    .new-arrivals-grid {
        -ms-grid-columns: repeat(3, 1fr);
            grid-template-columns: repeat(3, 1fr);
    }

    .what-you-like-btn.right {
        right: 5%;
    }

    .what-you-like-btn.left {
        left: 5%;
    }

    .share-fashion-grid,
    .service-features-grid,
    .clothing-grid {
        -ms-grid-columns: repeat(4, 1fr);
            grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
    }

    .footer-container {
        display: -ms-grid;
        display: grid;
        margin-left: 3%;
        margin-right: 3%;
        -ms-grid-columns: repeat(4, 2fr) 5fr;
            grid-template-columns: repeat(4, 2fr) 5fr;
    }

    .subscribe-to-news-letter {
        width: 100%;
        margin-top: 0;
    }

    .account-header {
        width: 40%;
    }

    .account-grid,
    .clothing-main {
        width: 90%;
    }

    .account-grid,
    .reviews-grid {
        -webkit-column-gap: 5rem;
        -moz-column-gap: 5rem;
        -o-column-gap: 5rem;
        -ms-column-gap: 5rem;
            column-gap: 5rem;
    }

    .account-grid > div:first-child {
        padding-right: 5rem;
    }

    .clothing-grid {
        gap: 2rem;
    }

    .reviews-grid {
        -ms-grid-columns: 8fr 5fr;
            grid-template-columns: 8fr 5fr;
    }

}  

@media only screen and (min-width: 1250px) {

    .clothing-main {
        width: 80%;
    }

}